mat-sidenav-container{
    width: 100vw;
    height: 100vh;
    border-radius: 0rem;
    mat-sidenav{
        width: 250px;   
        background-color:rgb(253, 254, 255) ;
        border-radius: 0rem;
    }
}

